{{ define "main" }}
  <article class="about-main prose dark:prose-invert max-w-full">
    <div class="relative">
      <div class="absolute inset-x-0 bottom-0 h-1/2"></div>
      <div class="mx-auto max-w-7xl p-0">
        <div class="relative">
          <div class="about-hero relative flex flex-col items-center justify-center px-1 py-1 text-center">
            <header class="about-header">
              <h1 class="mt-5 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ .Title }}</h1>
              <p class="mt-1 mb-2 text-base text-neutral-500 dark:text-neutral-400">{{ .Description }}</p>
            </header>
            <section class="about-copy">
              {{ .Content }}
            </section>
          </div>
        </div>
      </div>
    </div>
  </article>

  {{ if .Site.Params.homepage.layoutBackgroundBlur | default false }}
    <div
      id="about-background-blur"
      class="fixed opacity-0 inset-x-0 top-0 h-full single_hero_background nozoom backdrop-blur-xl bg-neutral-100/75 dark:bg-neutral-800/60"></div>
    {{ $backgroundBlur := resources.Get "js/background-blur.js" }}
    {{ $backgroundBlur = $backgroundBlur | resources.Minify | resources.Fingerprint (.Site.Params.fingerprintAlgorithm | default "sha512") }}
    <script
      type="text/javascript"
      src="{{ $backgroundBlur.RelPermalink }}"
      integrity="{{ $backgroundBlur.Data.Integrity }}"
      data-blur-id="about-background-blur"
      data-image-id="persistent-bg"
      {{ with resources.Get .Site.Params.defaultBackgroundImage }}data-image-url="{{ .RelPermalink }}"{{ end }}></script>
  {{ end }}
{{ end }}
